/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27-jun-2023, 16:55:17
    Author     : hoshi
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Roboto',sans-serif;
    min-width: 1024px;
    max-width: 1400px;
    background: #fafafa;
}

nav{
    min-width: 1024px;
    max-width: 1400px;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: solit #dbdbdb 1px;
    background: #fff;
}

.nav-cont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.cont-input{
    height: 28px;
    border: solid 1px #dbdbdb;
    display: flex;
    align-items: center;
    background: #fafafa;
    padding: 5px;
    border-radius: 30px;
}

.cont-input input{
    border: 0;
    outline: none;
    background: #fafafa;
}

.iconos svg{
    margin: 0 10px;
    cursor: pointer;
}

.iconos .small-logo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

header{
    width: 60%;
    margin: auto;
    transform: translateY(50px);
    padding: 20px 0;
}

.perfil-container{
    display: flex;
}

.perfil-container .img-perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.perfil-container img{
    cursor: pointer;
}

.contenedor-cabecera{
    margin-left: 100px;
}

.cabecera1{
    width: 290px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.cabecera1 h1{
    color: #616161;
    font-weight: 100px;
    font-size: 26px;
}

.cabecera1 button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #A9C7AC;
    border: solid #dbdbdb 1px;
    cursor: pointer;
    border-radius: 5px;
}

.cabecera2{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 15px;
}

.cabecera3 h2, .cabecera3 .p-presentation{
    font-size: 16px;
    margin-bottom: 5px;
}

.linea{
    width: 100%;
    height: 1px;
    margin:auto;
    background: #dbdbdb;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 15px;
}

.main-nav a{
    color: #333;
    text-decoration: none;
    font-size: 13px;
}

main{
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

.mainCont_grid{
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(5, auto);
    gap: 2%;
    height: auto;
}

.mainCont_grid div > img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
